.bank-soal-wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  background-color: #fff;
}

.bank-soal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.table-add-button a {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #3a57e8;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.table-add-button a i {
  font-size: 16px;
}

.bank-soal {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.code-warning-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.code-warning {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-color {
  padding: 9px;
  border-radius: 4px;
}
.warning-grey {
  background-color: rgb(102, 97, 97);
}
.warning-yellow {
  background-color: rgb(235, 219, 0);
}
.warning-red {
  background-color: rgb(197, 5, 5);
}
.bank-filter-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.bank-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bank-filter i {
  margin-left: -5px;
}
.delete-bank {
  display: flex;
  gap: 10px;
}
.checkbox-bank {
  width: 2 0px;
}
.delete-bank a {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(185, 7, 7);
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.delete-bank a i {
  color: #fff;
}

.table-bordered {
  border: 1px solid #333;
  border-radius: 10px;
}

.action-resp {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.action-resp i {
  color: #fff;
}
.warning-orange {
  background-color: orange;
}
.warning-green {
  background-color: green;
}

.form_banksoal_wrapper {
  background-color: #fff;
  padding: 20px 40px;
  color: #333;
}

.form-soal-content {
  border-top: 1px solid #333;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  width: 100%;
  display: flex;
  gap: 20px;
}
.form-row .form-bank:nth-child(1),
.form-row .form-bank:nth-child(3),
.form-row .form-bank:nth-child(4) {
  width: 30%;
}
.form-bank {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: auto;
}
.form-bank label {
  font-size: 18px;
  font-weight: 600;
}
.form-bank select {
  width: 200px;
  border-radius: 10px;
}
.form-bank input {
  padding: 10px;
  border: 0.5px solid #333;
  border-radius: 10px;
}

.form-bank-blue {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #b7c0ee;
  padding: 20px 10px;
  border-radius: 10px;
}
.form-bank-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-bank-row label {
  font-size: 14px;
  font-weight: 600;
}
.form-bank-row select {
  width: 200px;
  border-radius: 10px;
  outline: none;
}
.form-bank-row input {
  padding: 10px;
  border: 0.5px solid #333;

  border-radius: 10px;
}

.total-soal-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e4e7f5;
  border-radius: 10px;
}

.total-soal,
.total-bobot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.total-soal,
.total-bobot h3 {
  font-size: 16px;
}
.total-soal,
.total-bobot h4 {
  font-size: 18px;
}

.delete-bank .button.disabled {
  background-color: #ccc;
  pointer-events: none;
}
