@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ROOTS */

:root {
  --text: #8a92a6;
  --primary: #3a57e8;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
}

.login-container {
  width: 100%;
  display: flex;
}

.left-main,
.right-main {
  width: 50%;
  position: relative;
}

.left-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.login-section .title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-section .title h1 {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}
.login-section .title img {
  width: 25px;
}

.login-section .title-login {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-section .title-login h1 {
  font-weight: 600;
  font-size: 26px;
}
.login-section .title-login p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}
.login-section .title {
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
}
.login-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form .form-text input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: 0.1em solid var(--text);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.login-form form input:focus {
  outline: 0.1em solid #3a57e8;
  border-radius: 8px;
}

.login-form .form-text:focus-within label {
  color: var(--primary);
}

.login-form form .form-text {
  color: var(--text);
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form form .form-text label {
  margin: 0;
  font-size: 16px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #2962ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  align-self: center;
  margin-top: 20px;
}

button:hover {
  background-color: #0039cb;
}

button:focus {
  outline: none;
  background-color: #134bd7;
}
.right-main {
  height: 100vh;
  background: url(../../../../assets/assets_lsp/images/bg-login.png) no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .right-main {
    display: none;
  }
  .left-main {
    width: 100%;
  }
}

.policy {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  color: #3a57e8;
}
